{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/auth.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 class="page-title">{% block title %}{% endblock %}</h1>
        <div class="form-container">
            {% block form_element %} {% endblock %}
        </div>
        {% if messages %}
            <div class="login-message">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        {% endif %}

    </body>
</html>
