{% extends "base_form.html" %}
{% block title %}Change password{% endblock %}

{% block form_element %}
<form method="POST"  action="/change-password-action/">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="submit-button">Change Password</button>
</form>
{% comment %} <form method="POST" action="/change-password-action/">
    {% csrf_token %}
    <input type="password" placeholder="Old password" id="old-password" name="old-password">
    <input type="password" placeholder="New password" id="new-password" name="new-password">
    <input type="password" placeholder="Repeat new password" id="new-password2" name="new-password2">
    <button type="submit" class="submit-button">Change Password</button>
</form> {% endcomment %}
{% endblock %}