{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Trytytkowy Komunikator</title>
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{% static 'js/send.js' %}"></script>
        <script src="{% static 'js/sendFriendRequest.js' %}"></script>
        <script src="{% static 'js/acceptRequest.js' %}"></script>
        <script src="{% static 'js/deleteRequest.js' %}"></script>
        <script src="{% static 'js/selectChat.js' %}"></script>
    </head>
    <body>
        <div class="topbar">
            Hello {{ user.get_username }}
            <form action="/logout/" method="POST">
                {% csrf_token %}
                <button type="submit" class="buttontopbar">Log out</button>
            </form>
            <form action="/change_password/" method="POST">
                {% csrf_token %}
                <button type="submit" class="buttontopbar">Change Password</button>
            </form>

        </div>
        <div class="UIcontainer">
            <div class="contacts-container">
                <div class="add-contact">
                    <span>Add Friend</span>
                    <br>
                    <input id="add-contact-input" type="text" onkeydown="sendFriendRequest()">
                </div>
                <div class="contacts">
                    {% for contact in contacts %}
                        <div onclick = "selectChat('{{ contact }}', this)" class="contact">
                            {{ contact }}
                        </div>
                    {% endfor %}
                </div>
                <div class="friend-request-container">
                Friend Requests
                {% for request in friend_requests %}
                    <div class="friend-request">
                        {{ request }}
                        <button class="buttonrequest" onclick="acceptRequest('{{ request }}')">Potwierdź</button>
                        <button class="buttonrequest" onclick="deleteRequest('{{ request }}')">Usuń</button>
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class = "chatcontainer">
                <div class="chatbox" id="chatbox">



                </div>
                <div class="chatUI">
                    <input id="message-field" type="text" maxlength="255">
                    <button id="send-button" onclick="sendMessage()">&gt</button>
                </div>
            </div>
        </div>
    </body>
</html>
