{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Trytytkowy Komunikator</title>
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <script src="{% static 'js/cryptico/jsbn.js' %}"></script>
        <script src="{% static 'js/cryptico/random.js' %}"></script>
        <script src="{% static 'js/cryptico/hash.js' %}"></script>
        <script src="{% static 'js/cryptico/rsa.js' %}"></script>
        <script src="{% static 'js/cryptico/aes.js' %}"></script>
        <script src="{% static 'js/cryptico/api.js' %}"></script>

        <script src="{% static 'js/send.js' %}"></script>
        <script src="{% static 'js/sendFriendRequest.js' %}"></script>
        <script src="{% static 'js/acceptRequest.js' %}"></script>
        <script src="{% static 'js/deleteRequest.js' %}"></script>
        <script src="{% static 'js/selectChat.js' %}"></script>
        <script src="{% static 'js/encryption.js' %}"></script>
        <script src="{% static 'js/refreshChat.js' %}"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="topbar_item">Hello {{ user.get_username }}</div>
            
            <form action="/logout/" method="POST" class="topbar_item">
                {% csrf_token %}
                <button type="submit" class="buttontopbar">Log out</button>
            </form>

            <a href="/change-password/" class="buttontopbar topbar_item">
                Change password
            </a>
        </div>
        <div class="UIcontainer">
            <div class="contacts-container">
                <div class="add-contact">
                    <span>Add Friend</span>
                    <br>
                    <input id="add-contact-input" type="text" onkeydown="sendFriendRequest()">
                </div>
                <div class="contacts">
                    {% for contact in contacts %}
                        <div onclick = "selectChat('{{ contact }}', this)" class="contact">
                            {{ contact }}
                        </div>
                    {% endfor %}
                </div>
                <div class="friend-request-container" id="friend-request-container">
                Friend Requests
            </div>
            </div>
            <div class = "chatcontainer">
                <div class="chatbox" id="chatbox">

                </div>
                <div class="chatUI">
                    <input id="message-field" type="text" maxlength="255" onkeydown="sendMessage()" placeholder="Aa">
                </div>
            </div>
        </div>
    </body>
</html>
