{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Trytytkowy Komunikator</title>
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{% static 'js/send.js' %}"></script>
        <script src="{% static 'js/sendFriendRequest.js' %}"></script>
         <script src="{% static 'js/acceptRequest.js' %}"></script>
         <script src="{% static 'js/deleteRequest.js' %}"></script>
    </head>
    <body>
        <div class="topbar">
            Hello {{ user.get_username }}
            <form action="/logout/" method="POST">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>

        </div>
        <div class="UIcontainer">
            <div class="contacts-container">
                <div class="add-contact">
                    <span>Add Friend</span>
                    <button id="add-contact-button">+</button>
                    <br>
                    <input id="add-contact-input" type="text" onkeydown="sendFriendRequest()">
                </div>
                <div class="contacts">
                    {% for contact in contacts %}
                    <a href="/?converser={{ contact }}">    
                    <div class="contact {% if converser == contact %}active_contact{% endif %}">{{ contact }}</div>
                    </a>
                    {% endfor %}
                </div>
                <div class="friend-request-container">
                Zaproszenia:
                {% for request in friend_requests %}
                    <div class="friend-request">
                        {{ request }}
                        <button onclick="acceptRequest('{{ request }}')">Potwierdź</button>
                        <button onclick="deleteRequest('{{ request }}')">Usuń</button>
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class = "chatcontainer">
                <div class="chatbox">
                    {% for conversation_name, isauthor, timestamp, content in messages %}
                    {% if author %}
                    <div class="message message-sent">
                    {% else %}
                    <div class="message message-received">
                    {% endif %}
                    {{timestamp}}: {{content}}</div>
                    {% endfor %}


                </div>
                <div class="chatUI">
                    <input id="message-field" type="text" maxlength="255">
                    <button id="send-button" onclick="sendMessage()">&gt</button>
                </div>
            </div>
        </div>
    </body>
</html>
