<!DOCTYPE html>
<html>
    <head>
        <title>Logowanie</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 class="page-title">Logowanie</h1>
        <div class="form-container">
            <form>
                <input type="text" placeholder="Login" id="login" name="login">
                <input type="password" placeholder="Hasło" id="password" name="password">
                <button type="submit" class="submit-button">Zaloguj</button>
            </form>
        </div>
    </body>
</html>
