body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.topbar{
    background-color: aquamarine;
    width: 100%;
    height: 5vh;

}

.UIcontainer{
    display: flex;
    flex-direction: row;
    background-color: green;
    width: 100%;
    height: 95vh;
}

.contacts-container{
    flex-grow: 7;
}

.contacts{
    background-color: red;

    display: flex;
    flex-direction: column;
    gap: 0.3em;

    max-height: 400px;
    padding: 0.3em;

}

.contact{
    background-color: #a5632a;
    height: 100px;
    border-radius: 1em;
    padding: 1em;
}

.active_contact{
    background-color: #ff7700;
}

.chatcontainer{
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-grow: 7;
    width: 70%;
}

.chatbox{
    background-color: darkcyan;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    align-self: stretch;
    flex-grow: 1;
    padding: 1em;
    overflow: auto;
}

.message{
    padding: 0.5em;
    min-height: 2em;
    border-radius: 1em;
    width: 50%;
    align-self: flex-end;
}

.message-received{
    align-self: flex-start;
    background-color: whitesmoke;
}

.message-sent{
    align-self: flex-end;
    background-color: cyan;
}

.chatUI{
    background-color: blueviolet;
    padding: 1em;

    width: calc(100% - 2em);
    height: 2em;

    display: flex;
    align-items: center;
    align-self: flex-end;

}

.chatUI input{
    /*width: 100%;*/
    height: 80%;
    flex-grow: 1;
}

#send-button{
    width: 2em;
    height: 2em;
}
